h1 {
  font: italic bold 40px/60px Arial;
}
h2 {
  font: bold 40px "Arial";
  text-indent: 50px;
}
p {
  width: 400px;
  font: 30px/30px "Times New Roman";
  text-indent: 50px;
  text-decoration: overline;
  
}

a {
  text-decoration: none;
  color: brown;
}